.header {
    position: relative;
    height: 80vh;
    min-height: 50rem;
    background-image: linear-gradient(
        to right bottom,
         rgba($color-primary-light, 0.8),
         rgba($color-primary-dark, 0.8)), 
         url('../img/hero.jpg');
    background-size: cover;
    background-position: top;

    @supports((clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%))) {
        height: 95vh;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); 
    }

    @include respond(tab-port) {
        height: 47.5vh;
    }

    @include respond(phone) {
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }

    @media (min-resolution: 192dpi) and (max-width: 37.5em),
    (-webkit-min-device-pixel-ratio: 2) and (max-width: 37.5em),
    (max-resolution: 191dpi) and (max-width: 75em),
    (-webkit-max-device-pixel-ratio: 1.99) and (max-width: 75em) {
        background-image: linear-gradient(
            to right bottom,
             rgba($color-primary-light, 0.8),
             rgba($color-primary-dark, 0.8)), 
             url('../img/hero-small.jpg');
    }
   
    /* clip-path: polygon(
        0 0,
        50% 50%,
        20% 0%,
        40% 0%,
        50% 50%,
        60% 0%,
        80% 0%,
        50% 50%,
        100% 0%,
        100% 20%,
        50% 50%,
        100% 40%,
        100% 60%,
        50% 50%,
        100% 80%,
        100% 100%,
        50% 50%,
        80% 100%,
        60% 100%,
        50% 50%,
        40% 100%,
        20% 100%,
        50% 50%,
        0 100%,
        0 80%,
        50% 50%,
        0 60%,
        0 40%,
        50% 50%,
        0 20%
    ); */

    &__logoBox {
        position: absolute;
        left: $default-font-size * 2;
        top: $default-font-size * 2;
    }
    &__logo {
        height: $default-font-size * 2;
    }
    &__textBox {
        margin-top: $default-font-size * 2;
        @include positionCenter;
        text-align: center;
        @include respond(tab-port) {
            top: 55%;
        }
    }
}