.popup {
    background-color: rgba($color-black, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10000;

    color: $color-grey-dark-3;
    opacity: 0;
    visibility: hidden;
    transition: all .75s ease;
    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;

    &__content {
        background-color: $color-grey-light-2;
        max-width: 95%;
        width: 114rem;
        @include positionCenter;
        box-shadow: 0 $default-font-size $default-font-size * 2 rgba($color-black, .9);
        border-radius: .3rem;
        // display: table;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
        transition: transform .66s .16s, opacity .66s .16s ease;
        -webkit-transition: transform .66s .16s, opacity .66s .16s ease;
        -moz-transition: transform .66s .16s, opacity .66s .16s ease;
        -o-transition: transform .66s .16s, opacity .66s .16s ease;

        @include respond(tab-port) {
            flex-direction: column-reverse;
        }
    }

    &__left-side {
        width: 33.3333333333333333333333%;
        @include respond(tab-port) {
            width: 50%;
            display: flex;
            justify-content: center;
        }
    }
    &__right-side {
        width: 66.6666666666666666666667%;
        padding: $default-font-size $default-font-size * 4;
        @include respond(tab-port) {
            width: 100%;
            padding: 3.2rem 6.4rem;
        }
    }
    &__photo {
        display: block;
        width: 100%;
    }
    &__text {
        font-size:  $default-font-size * 1;
        margin-bottom: $default-font-size * 1.6;

        column-count: 2;
        column-gap: $default-font-size * 2;
        column-rule: 1px solid $color-grey-dark-3;
        hyphens: auto;
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close { 
        &:link, &:visited {
            color: $color-grey-dark;
            text-decoration: none;
            position: absolute;
            right: $default-font-size * 2;
            top: $default-font-size * 2;
            font-size: $default-font-size * 2;
            display: inline-block;
            line-height: 1;
        }
        &:hover {
            color: $color-primary;
        }
    }
}