.form {
    &__group {
        &:not(:last-child) {
            margin-bottom: $default-font-size;
        }
    }
    &__input {
        font-size: $default-font-size;
        padding: $default-font-size 1.5 * $default-font-size;
        border-radius: $border-radius;
        background-color: rgba($color-white, .75);
        border: none;
        color: inherit;
        font-family: inherit;
        border-bottom: $border-radius solid transparent;
        display: block;
        width: 100%;

        transition: border .66s ease;
        -webkit-transition: border .66s ease;
        -moz-transition: border .66s ease;
        -o-transition: border .66s ease;

        &:focus {
            // border-color: transparent;
            outline: none;
            box-shadow: 0 .5 * $default-font-size $default-font-size * 1 rgba($color-black, .1);
            border-bottom: $border-radius solid $color-primary;

            &:invalid {
                color: $color-secondary-dark;
                border-bottom: $border-radius solid $color-secondary-dark;
            }
            &:valid {
                color: $color-primary;
                border-bottom: $border-radius solid $color-primary;
            }
        }
        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }

    &__label {
        // opacity: 0;
        display: block;
        font-size: .75 * $default-font-size;
        font-weight: 700;
        margin-left: $default-font-size * 1.5;
        margin-top: .5 * $default-font-size;

        transition: all .33s ease;
        -webkit-transition: all .33s ease;
        -moz-transition: all .33s ease;
        -o-transition: all .33s ease;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-$default-font-size * 2.825) translateX($default-font-size * 3.33) scaleX(1.25);
    }

    &__radio-button-groups {
        display: flex;
        justify-content: space-between;
        // align-items: center;
    }

    &__radio-input {
        display: none;
    }
    &__radio-group{
        // width: 49%;
        display: inline-block;

    }

    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: $default-font-size * 2.75;
    }

    &__radio-button {
            position: absolute;
            left: 0;
            top: -$default-font-size / 3;
            // transform: translate(-75%, 0%);
            display: block;
            height: $default-font-size*2;
            width: $default-font-size*2;
            border: 5px solid $color-primary;
            border-radius: 50%;

        &::after {
            @include positionCenter;
            
            height: 1rem;
            width: 1rem;
            content: '';
            display: block;
            border-radius: 50%;
            
            background-color: $color-primary;
            opacity: 0;

            transition: opacity .66s ease;
            -webkit-transition: opacity .66s ease;
            -moz-transition: opacity .66s ease;
            -o-transition: opacity .66s ease;
        }
    }

    &__radio-input:checked + &__radio-label &__radio-button::after{
        opacity: 1;
    }
}