body {
    line-height: 1.7;
    /* font-size: 16px; */
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: $color-grey-dark;
    padding: $default-font-size * 2;
}
.headingPrimary{
    position: absolute;
    left: 50%;
    top: 38.60%;
    transform: translate(-50%, -50%);
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;

    &--main {
        display: block;
        font-size: $default-font-size * 4;
        font-weight: 400;
        letter-spacing: $default-font-size * 2;
        animation: moveInLeft 1s ease-out;
    }
    &--sub {
        display: block;
        font-size: $default-font-size * 2;
        font-weight: 700;
        letter-spacing: $default-font-size * .6562;
        animation: moveInRight 1s ease-out;
    }
}

.headingSecondary {
    font-size: $default-font-size * 2;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: transform .2s;
    letter-spacing: .2rem;

    &:hover {
        transform: skewY(-$skew-amount) skewX(-$skew-amount);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}
.heading-tertiary {
    font-size: $default-font-size * 1.1;
    text-transform: uppercase;
    font-weight: 500;
}
.paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
        margin-bottom: $default-font-size * 2;
    }
}