.u-center-text {text-align: center;}
.u-margin-bottom-small {margin-bottom: $default-font-size;}
.u-margin-bottom-medium {margin-bottom: $default-font-size * 2.5;}
.u-margin-bottom-large {margin-bottom: $default-font-size * 5;}
.u-margin-bottom-huge {margin-bottom: $default-font-size * 6;}

.u-margin-top-small {margin-top: $default-font-size;}
.u-margin-top-medium {margin-top: $default-font-size * 2.5;}
.u-margin-top-large {margin-top: $default-font-size * 5;}
.u-margin-top-huge {margin-top: $default-font-size * 6;}